*, html, body{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    color: white;
}

.main{
    display: flex;
    flex-direction: column;
    background-color: black;
    height: 100vh;
    align-items: center;
    
}

.s-main{
    display: flex;
    flex-direction: row;
    margin-top:20px ;
    width: 309px;
    height: 190px;
    
    
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    }
    .pic{
    width: 100px;
    height: 161px;
    margin: 15px;
    border-radius: 10px;
    }
    .fname{
        font-size: 15px;
    }
    .sub-content{
        padding-top: 11px;
        width: 150px;
    }
    .desc{
        font-size: 10px;
        text-align: justify;
        padding-top: 2px;
    }
    .dream{
        font-size: 10px;
    }
    .ig{
        display: flex;
        padding-top: 14px;
    }
    .ig-logo{
        width: 15px;
        height: 15px;
        padding-top: 1px;
        padding-right: 3px
    }
    .igacc{
        font-size: 12px;
        padding-top: 0.5px
    }